{% extends "base.html" %}

{% block main_content %}
    <h1>{{ patient.first_name }} {{ patient.last_name }}<a href="{% url 'patient_edit' patient.id %}"><span class="icon-pencil"></span></a></h1>

    <p>Доктор: <a href="{% url 'doctor_item' patient.doctor.id %}">{{ patient.doctor.first_name }} {{ patient.doctor.last_name }}</a></p>

    <p>Информация: {{ patient.info }}</p>

    <p>История болезни: {{ patient.history }}</p>

    
    <h2>Обследования</h2>
    <ul>
      {% for survey in surveys %}
        <li><a href="{% url 'survey_item' survey.id %}">{{ survey.date }}</a></li>
        <p>{{ survey.result }}</p>
      {% endfor %}
    </ul>

{% endblock main_content %}

