{% extends "base.html" %}
{% load comments %}

{% block patients_menu_class %} class="active"{% endblock patients_menu_class %}

{% block main_content %}

    <h1>Ренген {{ survey.id }}</h1>
    <div id="patient_info">
        <h2>Пациент: <a href="/patients/{{ survey.patient.id }}">{{ survey.patient.first_name }} {{ survey.patient.last_name }}</a></h2>
    </div>
    <div id="survey_data">
        <p>Дата обследования: {{ survey.date }}</p>

        <h2>Заключение</h2>
        <p>{{ survey.result }}</p>

        <h2>Рентген</h2>

        <img src="{{ survey.image.url }}">Изображение снимка
    </div>
    <div>
{% get_comment_list for survey as comment_list %}


        {% get_comment_form for survey as form %}
        {% include "comments/form.html" %}

    </div>

{% endblock main_content %}

