{% extends "base.html" %}

{% block patients_menu_class %} class="active"{% endblock patients_menu_class %}

{% block main_content %}

<div>
    <h1>Наши пациенты</h1>
    {% for patient in patients %}
    <h2><a href="/patients/{{ patient.id }}">{{ patient.id }} - {{ patient.first_name }} {{ patient.last_name }}</a></h2>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if patients.has_previous %}
                <a href="?page={{ patients.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ patients.number }} of {{ patients.paginator.num_pages }}.
            </span>

            {% if patients.has_next %}
                <a href="?page={{ patients.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

</div>

{% endblock main_content %}

